/* Write your CSS here! */
.heading{
  margin-left: 10px;
  color:rgb(50, 61, 66);
}
body{
    background-color: rgb(240, 242, 146);
}
#text{
    margin-left: 10px;
    text-align : 'center';
    font-size: 'bold';
    font-weight: 500;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
div {
    overflow: hidden;  
  }
.img{
  background-color: rgb(236, 232, 113);
  border: 5px ;
  padding: 18px;
}
footer{
  border : 1PX;
 color:rgb(50, 61, 66);
  font-family:'Courier New (monospace)';
  bottom:0; 
  left:0; 
  width:100%;
  height: 20px; 
  background-color: rgb(153, 240, 244);
}